/* GLOBAL */

:root {
  --main-color: hsl(24, 53%, 26%);
  --contrast-color: hsl(0, 0%, 12%);
  --highlight-color: hsl(38, 59%, 50%);

  --link-font: "Teko", sans-serif;
  --title-font: "Tomorrow", serif;
  --content-font: "Eagle Lake", sans-serif;
}

.wrapper {
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
}

/* NAV */

.navbar {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--contrast-color);
  border-bottom: 1px solid var(--highlight-color);
  box-shadow: 0px 0px 5px 2px black;
}

.navwrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 3px;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  justify-content: space-around;
}

.navlink {
  text-decoration: none;
  font-family: var(--link-font);
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.8em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  color: var(--highlight-color);
}

/* HOMEPAGE */

.homepage {
  background-color: var(--main-color);
  padding-bottom: 50px;
}

.title-card {
  width: 580px;
  margin: auto;
  margin-top: 50px;
}

.title-img {
  border-radius: 10px;
}

.frontpage-main {
  width: 90vw;
  max-width: 1100px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 7px 1px black;
}

.frontpage-title-container {
  background-color: var(--contrast-color);
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.frontpage-title {
  text-align: center;
  font-size: 3.8em;
  font-family: var(--title-font);
  color: var(--highlight-color);
  margin: 0;
  padding: 0;
}

.frontpage-subtitle {
  text-align: center;
  font-size: 3.3em;
  font-family: var(--title-font);
  color: var(--highlight-color);
  margin: 0;
  padding: 0;
}

#charter-introduction {
  text-align: left;
  line-height: 1.8em;
}

.frontpage-content {
  font-size: 1.5em;
  font-family: var(--content-font);
  background-color: hsl(38, 59%, 85%);
  padding: 30px;
  border-radius: 0px 0px 5px 5px;
}

.frontpage-content ol {
  margin: 0;
}

.frontpage-content li {
  margin-bottom: 25px;
  line-height: 1.5em;
}

#charter-signature {
  text-align: right;
  line-height: 1.8em;
}