/* GLOBAL */

:root {
  --main-color: hsl(24, 53%, 26%);
  --contrast-color: hsl(0, 0%, 12%);
  --highlight-color: rgb(255, 206, 101);

  --link-font: "Teko", sans-serif;
  --title-font: "Tomorrow", serif;
}

.wrapper {
  width: 100%;
  min-width: 400px;
  height: 100vh;
}

/* NAV */

.navbar {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--contrast-color);
  border-bottom: 1px solid var(--highlight-color);
  box-shadow: 0px 0px 5px 2px black;
}

.navwrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 3px;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  justify-content: space-around;
}

.navlink {
  text-decoration: none;
  font-family: var(--link-font);
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.8em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  color: var(--highlight-color);
}

/* HOMEPAGE */

.homepage {
  background-color: var(--main-color);
}

.title-card {
  width: 580px;
  margin: auto;
  margin-top: 50px;
}

.title-img {
  border-radius: 10px;
}